@font-face {
            font-family: headerText2;
            src: url(fonts/gnuolane.ttf);
        }

        @font-face {
            font-family: headerText;
            src: url(fonts/AlegreyaSansSC-Bold.ttf);
        }

        @font-face {
            font-family: headerText3;
            src: url(fonts/SEGOEUIL_BOLD.ttf);
        }

        @font-face {
            font-family: textFont1;
            src: url(fonts/Lato-Regular.ttf);
        }

        @font-face {
            font-family: textFont2;
            src: url(fonts/SEGOEUIL.ttf);
        }

body {
}
